
body{
    margin: 0;
    background-image: url("./picture/yoons.PNG");
    background-size: 100em;
    align-self: center;
}
.js-clock{
    color : rgb(138, 179, 226);
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.js-toDoForm{
    color : navy;
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form,
.greetings {
    display : none;
    font-size: 30px;
    
}

.showing {
    display: block;
}